body{
  background-image: url("/assets/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  font-family: 'Oswald', sans-serif;
  margin-left: 25px;
  font-size: 4.5em;
  color: yellow;
}

span{
  color: darkorange;
  font-size: 1.5em;
  display: block;
  letter-spacing: 38px;
}

#compliments{
  font-family: 'Kaushan Script', cursive;
  color:grey;
  position: relative;
  top: 30px;
  left: 25px;
  font-size: 5.5em;
  width: 50%;
}

button{
  margin-left: 25px;
  border: 5px solid white;
  border-radius: 10px;
  background-color: lightgreen;
  color: white;
  padding: 15px 32px;
  font-size: 2em;
}

button:hover{
  opacity: .75;
}